/* globle styling */
:root
{
  --primary-color:#0d6efd;
}
/* hide scrollbar 
 */
 .section-body::-webkit-scrollbar,.openings-outer::-webkit-scrollbar {
  display: none;
}
/* modification common icons */
.modify-icons
{
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    gap: 15px;
}
.modify-icons .icon
{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.modify-icons .icon:first-child:hover{
    color:var(--primary-color);
}
.modify-icons .icon:last-child:hover{
    color:crimson;
}
body::-webkit-scrollbar
{
  display: none !important;
}